main{
    width: 600px;
    height: 500px; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -300px;
    display: flex;
    flex-direction: row;
}

#description{
    width: 50%;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#picture{
    width: 50%;
}

img{
    width: 300px;
    height: 500px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

body{
    background-color: hsl(30, 38%, 92%);
}



button{
    background-color: hsl(158, 36%, 37%);
    cursor: pointer;
    width: 75%;
    margin-left: 30px;
    height: 50px;
    border-radius: 20px;
    border-style: solid;
    font-weight: bold;
    color: white;
}
button:hover{
    background-color:hsl(157, 47%, 15%);
}
h3{
    margin: 35px;
    margin-bottom: 0;
    letter-spacing: 10px;
    font-size: 16px;
    color: hsl(228, 12%, 48%);
}

h1{
    margin: 50px;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 35px;
    margin-bottom: 0;
    line-height: 35px;
    font-family: Fraunces;
}

#text{
    color: hsl(228, 12%, 48%);
    margin: 35px;
    margin-left: 30px;
    margin-top: 19px;
    line-height: 25px;
    margin-bottom: 0;
    font-family: Montserrat;
    font-size: 15px;
}

#newPrice{
    color:hsl(158, 36%, 37%);
    font-size: 40px;
    margin-left: 30px;
    margin-top: 28px;
    margin-bottom: 20px;
}

#prices{
    display: flex;
    flex-direction: row;
}

#oldPrice{
    color: hsl(228, 12%, 48%);
    margin-top: 42px;
    margin-left: 23px;
}

.attribution {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    color: gray;
    bottom: 10px;
    text-align: center;
    font-size: 10px;
  }
  
  .attribution a {
    text-decoration: none;
    color: darkgray;
  }
  
  .attribution a:hover {
    color: black;
  }

  body{
    overflow: hidden;
  }

  @media only screen and (max-width: 375px) {
    main{
        flex-direction: column;
        width: 100%;
        margin: 0;
        left: 0;
        top: 0;
        position: relative;
        margin: 0 auto;
    }
    body{
        overflow: scroll;
    }
    #description{
        width: 100%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
    }
    #picture{
        width: 100%;
        border: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
    }
    img{
        width: 100%;
        border: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;

    }
    .attribution{
        display: none;
    }
    
}